<div class="personaldetails">
	<div class="heading">
		<h2><u>personal</u></h2>
		<img class="profilepic" src="https://pbs.twimg.com/profile_images/378800000574953963/fbbade30630837ba15af897dd6935680.jpeg" alt="Profile Picture">
	</div>
	<div class="main">
		<div class="row">
			<p class="label">name:</p>
			<p class="field">chris augier</p>
		</div>
		<div class="row">
			<p class="label">role:</p>
			<p class="field">software developer</p>
		</div>
		<div class="row">
			<p class="label">email:</p>
			<p class="field"><a href="mailto:chris.augier@gmail.com" class="field">chris.augier@gmail.com</a></p>
		</div>
		<div class="row">
			<p class="label">twitter:</p>
			<p class="field"><a href="http://www.twitter.com/augier" class="field">@augier</a></p>
		</div>
		<div class="row">
			<p class="label">github:</p>
			<p class="field"><a href="http://www.github.com/augier" class="field">http://www.github.com/augier</a></p>
		</div>
	</div>
</div>
<br>
<div class="skills">
	<div class="heading">
		<h2><u>skills</u></h2>
	</div>
	<div class="main">
		<div class="row">
			<p class="label">blurb:</p>
			<p class="field">a confident and diverse full stack developer with 2 years client facing experience. always looking for the best tool for the job and eager to learn.</p>
		</div>
		<div class="row">
			<p class="label">code:</p>
			<p class="field">java, javascript, node.js, ruby, php, html, css, actionscript</p>
		</div>
		<div class="row">
			<p class="label">testing:</p>
			<p class="field">cucumber, selinium, qtp, junit, bugzilla</p>
		</div>
		<div class="row">
			<p class="label">tools + tech:</p>
			<p class="field">mongo, sql, git, svn, hudson, grunt, phonegap, rest, soap</p>
		</div>
		<div class="row">
			<p class="label">other:</p>
			<p class="field">agile[scrum], team leading, project management, requirements gathering</p>
		</div>
		<div class="row">
			<p class="label">experience:</p>
			<p class="field">2 years <a href="http://twitter.com/aptosolutions">@aptosolutions</a></p>
		</div>
		<div class="row">
			<p class="label">education:</p>
			<p class="field">meng: electronic + communications engineering <a href="http://twitter.com/bristoluni">@bristoluni</a></p>
		</div>
		<div class="row">
			<p>for a copy of my cv please ping me an email and i'll get back to you as soon as i can</p>
		</div>
	</div>
</div>